<!DOCTYPE html>
<html>
    <head>
    <title>Ajouter</title>
    <link  rel="stylesheet" href="{{asset('css/style.css')}}"/>
    </head>
    <body>
      <article>
    <h1>Ajouter</h1>
    <h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form(form) }}
</div>

<p><a href="{{ path('ex_blog_homepage') }}">Retour accueil</a></p>
</article>
</body>
</html>
