<!DOCTYPE html>
<html>
    <head>
    <title>Inscription!</title>
    <link  rel="stylesheet" href="{{asset('css/style.css')}}"/>
    </head>
    <body>
      <article>
<h1>Inscription</h1>
    <div class="well">
      {{ form(form) }}
    </div>

    <p><a href="{{ path('ex_blog_homepage') }}">Retour blog</a></p>
</article>
    </body>
</html>
