<!DOCTYPE html>
<html>
    <head>
    <title>modifier</title>
    <link  rel="stylesheet" href="{{asset('css/style.css')}}"/>
    </head>
    <body>
    <article>
      <h1>Modifier article</h1>
    <div class="well">
      {{ form(form) }}
    </div>

    <p><a href="{{ path('ex_blog_homepage') }}">Retour articles</a></p>
  </article>
    </body>
</html>
